
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ db["name"] }}',
        'USER': '{{ db["user"] }}',
        'PASSWORD': '{{ db["password"] }}',
        'HOST': 'localhost',
    }
}

ADMINS = ({%for name, email in admins.items() %}
       ('{{name}}', '{{email}}'), {% endfor %}
)

ALLOWED_HOSTS = ['.pythonexpress.in']

EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST_USER = '{{ pillar["wye"]["email_host_user"] }}'
EMAIL_HOST_PASSWORD = '{{ pillar["wye"]["email_host_password"] }}'

TWITTER_CONSUMER_KEY = '{{ pillar["wye"]["twitter_consumer_key"] }}'
TWITTER_CONSUMER_SECRET = '{{ pillar["wye"]["twitter_consumer_secret"] }}'
TWITTER_ACCESS_TOKEN = '{{ pillar["wye"]["twitter_access_token"] }}'
TWITTER_ACCESS_TOKEN_SECRET = '{{ pillar["wye"]["twitter_access_token_secret"] }}'
