# /etc/systemd/system/{{name}}_celery.service
[Unit]
Description=Celery for {{name}} application service
After=syslog.target
After=network.target

[Service]
User=app
Type=forking
EnvironmentFile='DJANGO_SETTINGS_MODULE="settings"' 'SITE_NAME="{{name}} Celery"' 'LANG="en_US.UTF-8"' 'CELERY_BIN=/opt/envs/{{name}}/bin/celery' 'CELERY_PID=/usr/run/{{name}}_celery/%N.pid' 'CELERY_LOG=/opt/{{name}}/logs/celery_junction.log'
ExecStart=/opt/envs/{{name}}/bin/celery -A junction worker -l info
WorkingDirectory=/opt/{{name}}/
ExecStart=/bin/sh -c '${CELERY_BIN} multi start {{name}} \
  -A {{name}} --pidfile=${CELERY_PID} \
  --logfile=${CELERY_LOG} --loglevel=info ${CELERYD_OPTS}'
ExecStop=/bin/sh -c '${CELERY_BIN} multi stopwait {{name}} \
  --pidfile=${CELERY_PID}'
ExecReload=/bin/sh -c '${CELERY_BIN} multi restart {{name}} \
  -A {{name}} --pidfile=${CELERY_PID} \
  --logfile=${CELERY_LOG} --loglevel=info ${CELERYD_OPTS}'
StandardError=syslog
TimeoutSec=300
NotifyAccess=all

[Install]
WantedBy=multi-user.target
