# /etc/systemd/system/{{name}}_celery.service
[Unit]
Description=Celery for {{name}} application service
After=syslog.target
After=network.target

[Service]
User=app
Type=forking
EnvironmentFile='DJANGO_SETTINGS_MODULE="settings"' 'SITE_NAME="{{name}} Celery"' 'LANG="en_US.UTF-8"'
WorkingDirectory=/opt/{{name}}/
ExecStart=/bin/sh -c '{{celery_bin}} multi start {{name}} \
  -A {{name}} --pidfile={{celery_pid}} \
  --logfile={{celery_log}} --loglevel=info'
ExecStop=/bin/sh -c '{{celery_bin}} multi stopwait {{name}} \
  --pidfile={{celery_pid}}'
ExecReload=/bin/sh -c '{{celery_bin}} multi restart {{name}} \
  -A {{name}} --pidfile={{celery_pid}} \
  --logfile={{celery_log}} --loglevel=info'
StandardError=syslog
TimeoutSec=300
NotifyAccess=all

[Install]
WantedBy=multi-user.target
