location ~ ^/cfp/static/(.*)$ {
    alias /opt/junction/junction/assets/collected-static/$1;
}

location ~ ^/cfp/(.*)$ {
    proxy_read_timeout 1000;
    proxy_connect_timeout 500;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
    proxy_redirect off;

    proxy_pass http://junction/$1$is_args$args;
}
