# /usr/lib/systemd/system/junction.service
[Unit]
Description=CFP Junction application service
After=syslog.target
After=network.target

[Service]
Type=forking
EnvironmentFile=-/etc/sysconfig/junction
ExecStart=/usr/sbin/daemonize -u /opt/envs/junction/bin/uwsgi --ini /etc/uwsgi/junction.ini
ExecStop=/bin/kill -TERM $MAINPID
TimeoutSec=3000

[Install]
WantedBy=multi-user.target
