# /usr/lib/systemd/system/junction.service
[Unit]
Description=CFP Junction application service
After=syslog.target
After=network.target

[Service]
User=app
Type=forking
EnvironmentFile='DJANGO_SETTINGS_MODULE="settings"' 'SITE_NAME="PyCon India"' 'LANG="en_US.UTF-8"'
ExecStart=/opt/envs/junction/bin/uwsgi --ini /etc/uwsgi/junction.ini
Restart=on-failure
Type=notify
StandardError=syslog
TimeoutSec=300
NotifyAccess=all

[Install]
WantedBy=multi-user.target
